<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

    <div class="main-container">

        <h2>Users List</h2>

        <div class="search-user-container">
            <form class="login-form" action="#" th:action="@{/find-user-by-name}" method="GET">
                <input type="text" placeholder="search user">
                <input type="submit" value="search">
            </form>
        </div>

        <div class="table-container">

            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>email</th>
                    <th>Enabled</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.enabled}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>