<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>

<div class="main-container">
    <div class="header-container">
        <h2>User details</h2>
    </div>

    <div class="details-container">
        <p th:text="${user.id}"></p>
        <p th:text="${user.username}"></p>
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.lastName}"></p>
        <p th:text="${user.email}"></p>
        <p th:text="${user.enabled}"></p>
        <p th:text="${user.roles}"></p>
    </div>

    <a href="users-list">go back to users list</a>
</div>

</body>
</html>